/* Regole Generali */

:root {
    --blue: #0093CE;
    --blue-btn: #0061FF;
    --blue-light: #B4D0E7;
    --blue-strong: #0D2481;
    --bordeaux: #61082B;
    --green: #A2D39B;
    --grey: #DBDBDD;
    --yellow: #FFD830;
    --red: #D5001F;
    --red-light: #FF1C1C;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-colored {
    background-color: var(--blue-light);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-colverse {
    flex-direction: column;
}

.flex {
    display: flex;
}

.button {
    font-size: 1em;
    white-space: nowrap;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid currentColor;
}

.blue__btn {
    background-color: var(--blue-btn);
    color: #FFF;
}


.section {
    padding-bottom: 150px;
}

.grid {
    display: grid;
}

.grid-row-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-row-2 {
    grid-template-columns: repeat(2, 1fr);
}

.section:last-of-type {
    padding-top: 150px;
}

/* TODO: vedere funzionamento!

On mouse-over, add a grey background color
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background 
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) 
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked 
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) 
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
} */

/* Header */

.main-header {
    padding: 23px 18px;
    gap: 18px;
}

.logo__home {
    flex-shrink: 0;
}

.main-header.flex {
    align-items: center;
}

.nav-list .flex {
    /* gap: 40px; */
    align-items: center;
}

.nav-list li {
    padding: 0 16px;
}

.nav-list a {
    line-height: 35px;
    display: block;
    white-space: nowrap;
}

.nav-list:last-of-type {
    margin-left: auto;
}

/* Main */

/* Hero */
.hero {
    padding-top: 100px;
}

h1.container-large {
    font-size: 74px;
    font-weight: 800;
    margin-bottom: 48px;
}

.hero__content.row-colverse {
    gap: 30px;
    /* align-items: flex-start; */
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.hero__content .fa-solid.fa-arrow-down {
    font-size: 3em;
    font-weight: bold;
    padding: 15px 0;
}

.hero .hero__thumbnail.col-8 {
    position: relative;
}

.hero .hero__thumbnail.col-8 img {
    position: absolute;
    top: 0px;
    left: 0;
}

/* Dropbox plan */


/* SOLUZIONE ALTERNATIVA ALLA GRIGLIA:
usare flex con: colonna orizzontale con flex-basis a 100%, atre colonne flex basis a 0 e flex grow a 1 */

h2.container {
    padding-bottom: 48px;
}

.section.dropbox-plan {
    padding-top: 160px;
    font-size: 16px;
}

.plan__select span {
    padding-right: 64px;
}

.plan-choice .grid-row-3 {
    gap: 50px;
    padding-top: 20px;
}

.plan-choice .grid-col {
    border: 1px solid var(--grey);
}

.grid__horizontal {
    grid-column: span 3;
}

.plan-title {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    border: 1px solid var(--grey);
    padding: 10px 0;
}

.plan-body {
    padding: 0 30px;
    margin: 0 auto;
}

.plan-body__main>*,
.plan-body__description>* {
    padding: 20px 0;
}

.plan-body__description>*>*,
.plan-body__main>*>* {
    padding: 15px 0;
}

.main__title h4 {
    font-size: 24px;
    font-weight: 800;
}

.main__title .price {
    font-weight: bold;
}

li.flex {
    gap: 10px;
    align-items: flex-start;
}

.plan__list i {
    line-height: 1.4em;
}

.plan-body .blue__btn {
    width: 100%;
    font-size: 14px;
}

.price__time,
.more__info {
    display: block;
}

.more__info a {
    color: var(--blue-btn);
    text-decoration: underline;
}

.plan-body__description::before {
    content: '';
    border: 1px solid var(--grey);
    display: block;
    height: 0;
    width: 25px;
    margin-bottom: 10px;
}


.plan-body__description i {
    color: var(--blue-btn)
}

.plan-body__main .title-container.flex {
    justify-content: space-between;
}

.plan-hor__main.flex {
    gap: 50px;
    align-items: flex-start;
}

/* .plan-hor__btn {
    padding-top: 30px;
    padding-right: 30px;
} */

.title-container.flex,
.title-container.flex .main__title {
    padding: 0;
}

.plan-hor__main {
    padding: 30px;
}

.plan-body__main .price {
    padding-top: 0;
    margin-bottom: 50px;
}

.plan-hor__btn .blue__btn {
    width: auto;
}

.plan-hor__btn .blue__btn {
    padding: 15px 40px;
    font-size: 14px;
}

.plan-hor__main .plan-body__main p {
    max-width: 615px;
    padding-top: 0;
}

/* DB partner */

.partner .row {
    gap: 50px;
    flex-wrap: nowrap;
}

.partner .col-60 {
    flex-basis: calc(100% * 3 / 5);
}

.partner .col {
    flex-basis: 0;
    flex-grow: 1;
    padding-top: 50px;
}

.partner .col * {
    padding-bottom: 20px;
}

.partner h2 {
    font-size: 24px;
}

/* DB Business */

.business-title {
    padding-bottom: 40px;
}

.dropbox-business .grid-row-3 {
    gap: 50px;
}

/* DB Business Team */

.dropbox-business-team {
    padding-bottom: 0;
}

.team-header.container {
    padding-right: 350px;
    padding-bottom: 150px;
}

.team__title {
    padding: 70px 0;
}

.team__body .col-4 {
    aspect-ratio: 1/1;
    overflow: auto;
}

.grid-col.flex {
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.grid-col.flex.active {
    border: 15px solid #D1E9CD;
}

.col-left .grid-col.flex:nth-child(1) {
    background-color: var(--green);
}

.col-left .grid-col.flex:nth-child(2) {
    background-color: var(--bordeaux);
}

.col-left .grid-col.flex:nth-child(3) {
    background-color: var(--blue);
}

.col-left .grid-col.flex:nth-child(4) {
    background-color: var(--red-light);
}

.col-right .grid-col.flex:nth-child(1) {
    background-color: var(--red);
}

.col-right .grid-col.flex:nth-child(2) {
    background-color: var(--blue-light);
}

.col-right .grid-col.flex:nth-child(3) {
    background-color: var(--blue-strong);
}

.col-right .grid-col.flex:nth-child(4) {
    background-color: var(--yellow);
}

.team__logo img {
    width: 150px;
    filter: invert();
    object-fit: contain;
}

.team__show {
    padding: 25px;
    font-size: 14px;
    background-color: #F6F6F6;
}

.team__logo__show {
    width: 50%;
    padding-bottom: 25px;
}

.logo__description::before {
    content: "";
    border-top: 1px solid var(--grey);
    display: block;
    width: 100px;
    padding-bottom: 25px;
}

.logo__author {
    padding-top: 25px;
}

/* DB business start */

.dropbox-business-start {
    padding-top: 150px;
}

.dropbox-business-start .col-4.flex {
    justify-content: center;
    align-items: center;
}

.dropbox-business-start .button {
    background-color: #FFF;
    border: none;
}

.start__title {
    color: var(--bordeaux);
    padding-right: 60px;
}

/* DB FAQ */

.faq__title {
    padding-bottom: 60px;
}

.faq__list li {
    padding: 40px 0;
    border-top: 1px solid var(--grey);
}

.faq__list li:last-child {
    border-bottom: 1px solid var(--grey);
}

.faq__list span {
    display: inline-block;
}

.faq__list span:last-child {
    margin-left: auto;
    padding-right: 40px;
    font-size: 12px;
    cursor: pointer;
}

/* Footer */

/* TODO: DEBUG STYLES */

.debug [class^="col"] {
    border: 2px dashed black;
}

.debug section {
    border: 5px solid blue;
    /* padding: 100px; */
}

.debug section>* {
    border: 5px solid orangered;
}

.debug footer {
    background-color: #000;
    padding: 100px;
}

.debug [class^="col-"] {
    min-height: 100px;
}

/* .debug .plan__grid.grid>* {
    padding: 100px;
    background-color: #A2D39B;
    border: 1px solid salmon;
} */

.debug .grid-col {
    border: 3px dashed violet;
    /* min-height: 200px; */
}