/* Regole Generali */

:root {
    --blue: #0093CE;
    --blue-btn: #0061FF;
    --blue-light: #B4D0E7;
    --blue-strong: #0D2481;
    --bordeaux: #61082B;
    --green: #A2D39B;
    --grey: #DBDBDD;
    --yellow: #FFD830;
    --red: #D5001F;
    --red-light: #FF1C1C;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-colored {
    background-color: var(--blue-light);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-colverse {
    flex-direction: column;
}

.flex {
    display: flex;
}

.blue__btn {
    background-color: var(--blue-btn);
    padding: 10px 15px;
    cursor: pointer;
    color: #FFF;
    font-size: 1em;
    white-space: nowrap;
}


.section {
    padding-bottom: 40px;
}

.section>* {
    padding: 20px 0;
}

.grid {
    display: grid;
}

/* Header */

.main-header {
    padding: 20px 20px;
}

.logo__home {
    padding-right: 30px;
}

.main-header .row {
    align-items: center;
}

.nav-list .flex {
    gap: 40px;
    align-items: center;
}

.nav-list:last-of-type {
    margin-left: auto;
}

/* Main */

/* Hero */

h1.container-large {
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    font-weight: 800;
    padding: 80px 0 15px;
}

.col {
    padding: 15px 0;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.hero .col-4 {
    padding: 0 20px;
}

.hero .row.row-colverse {
    gap: 15px;
}

.col .fa-solid.fa-arrow-down {
    font-size: 3em;
    font-weight: bold;
}

.hero .col.col-8 {
    position: relative;
}

.hero .col.col-8 img {
    position: absolute;
    top: 15px;
    left: 0;
    /* bottom: -100px; */
    min-height: 100%;
}

/* Dropbox plan */
.section.dropbox-plan {
    padding-top: 180px;
}

.grid-row.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-top: 20px;
}

.grid-col {
    border: 1px solid var(--grey);
}

.grid__horizontal {
    grid-column: span 3;
}

.plan-title {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    border: 1px solid var(--grey);
    padding: 10px 0;
}

.plan-body {
    padding: 0 15px;
    margin: 0 auto;
}

.plan-body__main>*,
.plan-body__description>* {
    padding: 20px 0;
}

.plan-body__description>* *:not(ul, i, button),
.plan-body__main>* *:not(ul, i, button) {
    padding: 15px 0;
}

.main__title h4 {
    font-size: 2em;
}

.main__title .price {
    font-weight: bold;
}

li.flex {
    gap: 10px;
    align-items: flex-start;
}

.price__time,
.plan__buy {
    display: block;
}

.plan__buy a {
    color: var(--blue-btn);
    text-decoration: underline;
}

.plan-body__description::before {
    content: '';
    border: 1px solid var(--grey);
    display: block;
    height: 0;
    width: 25px;
    margin-bottom: 10px;
}


.plan-body__description i {
    color: var(--blue-btn)
}

.plan-body.plan-body__main.flex {
    gap: 50px;
    align-items: flex-start;
}

.plan-hor__btn {
    padding-top: 50px;
}

/* Footer */

/* TODO: DEBUG STYLES */

.debug [class^="col"] {
    border: 2px dashed black;
}

.debug section {
    border: 5px solid blue;
    /* padding: 100px; */
}

.debug section>* {
    border: 5px solid orangered;
}

.debug footer {
    background-color: #000;
    padding: 100px;
}

/* .debug .plan__grid.grid>* {
    padding: 100px;
    background-color: #A2D39B;
    border: 1px solid salmon;
} */